<ul class="media-list">
  <% tasks.each do |task| %>
    <li class="media">
      
      <div class="media-body">
        
        <div>
          <p><%= task.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>